body {
  background-color: #F9F6EE;
}

article {
  padding: 5px 20px;
  border: 10px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(230, 230, 230);
}

button {
  background-color: lightgreen;
}

.card {
  font-style: italic;
  font-size: 14px;
  color: black;
}

.discount {
  font-size: 25px;
  color: green;
}

.price {
  font-size: 20px;
  color: red;
}